<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add private doctor</title>
    <link rel="stylesheet" href="..//static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="../static/js/app.js" defer></script>
</head>
<body>
    <header>{% include 'header.html'%}</header>
    <main style="margin-top: 10em;">
        <form action="/update-doctor", method="POST" enctype="multipart/form-data">
            <div class="grid-dashboard2">
                <div class="name">
                    <label for="username">Username: </label>
                    <br>
                    <input type="text" name="username" id="username">
                </div>

                <div class="location">
                    <label for="name">Name: </label>
                    <br>
                    <input type="text" name="name" id="name">
                </div>

                <div class="name">
                    <label for="location">Location: </label>
                    <br>
                    <input type="text" name="location" id="location">
                </div>

                <div class="location">
                    <label for="phoneno">Phonenumber: </label>
                    <br>
                    <input type="text" name="phoneno" id="phoneno">
                </div>

                <div class="name">
                    <label for="email">Email: </label>
                    <br>
                    <input type="email" name="email" id="email">
                </div>

                <div class="location">
                    <label for="passw">Password: </label>
                    <br>
                    <input type="password" name="password" id="passw">
                </div>


                
                <div class="name ambulance-pic">
                    <h5>Profile photo: </h5>
                    <img src="" id="blah" alt="profile-picture">
                    <input type="file" name="photo" id="profile-change" onchange="readURL(this);">
                    <label for="profile-change">Add profile picture</label>
                </div>

                <div class="update name">
                    <button type="submit">Update</button>
                </div>

            </div>


            
        </form>
    </main>
    
</body>
</html>