<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="../static/js/app.js" defer></script>
</head>
<body>
    <nav class="mainnav ff-roboto">
        <ul class="flex navbar" style="gap: 0;"> 
            <li><a href=""  class="text-dark"><img src="../static/assets/doc.png" alt=""></a></li>
            <li style="font-weight: 900"><a href="#" class="text-dark fs-900">WEB<span class="text-blue" style="font-size: 30px;">DOC</span></a></li>
            <li><a href=""><img src="../static/assets/doc2.png" alt="" class="text-dark"></a></li>
            <li class="last-child"><button class="login-signup" id="loginsignup">LOGIN/SIGUP</button></li>
        </ul>
    </nav>

    <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content ff-roboto">
      <div class="modal-body">
       <div class="sign-login-btn flex">
            <button class="active-btn" id="login-selector">Log In</button>
            <button class="inactive-btn" id="signup-selector">Sign Up</button>
        </div>
  
              <div id="credentials">
                  <form action="">
                      <div class="sign-login-content">
                          <input type="email" placeholder="Email" class="credential-data">
                          <br>
                          <input type="password" placeholder="Password" class="credential-data">
                          <br>
                          <button type="submit" class="credentials-btn">LOGIN</button>
                      </div>
                  </form>
              </div>
      </div>
    </div>
  
  </div>
    
  
</body>
</html>