<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="..//static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="../static/js/app.js" defer></script>
</head>
<body>
    <header>{% include 'header.html'%}</header>
    <main style="margin-top: 10em;">
        {% for row in rows%}
        <form action="/dashboard-update" method="POST" enctype="multipart/form-data">
                <div class="grid-dashboard">
                    <div class="stars flex">
                        <h4>Your ratings: </h4>
                        {% if row[9] == 0 %}
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                    </div>
                            </div>
                        {% elif row[9] == 1 %}    
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                    </div>
                            </div>

                        {% elif row[9] == 2 %}    
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                    </div>
                            </div>

                        {% elif row[9] == 3 %}    
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                    </div>
                            </div>
                            
                        {% elif row[9] == 4 %}    
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star.png" class="star" alt="">
                                    </div>
                            </div>
                        
                        {% elif row[9] == 4 %}    
                            <div class="flex" style="gap: 0.5em">
                                <p class="card-infor">: </b>
                                <div class="stars flex">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                        <img src="../static/assets/icons/star2.png" class="star" alt="">
                                    </div>
                            </div> 


                        {% endif %}
                    </div>
                    <div class="flex profile-pic">
                        <img src="data:;base64,{{row[7].decode('utf-8')}}" id="blah" alt="profile-picture">
                    <input type="file" name="photo" id="profile-change" onchange="readURL(this);">
                        <label for="profile-change">Change your profile picture</label>
                    </div>

                    <div class="name">
                        <label for="name">Name: </label>
                        <br>
                        <input type="text" name="name" value="{{row[0]}}" id="name">
                    </div>

                    <div class="location">
                        <label for="location">Location: </label>
                        <br>
                        <input type="text" name="location" value="{{row[1]}}" id="location">
                    </div>

                    <div class="name">
                        <label for="phoneno">Phonenumber: </label>
                        <br>
                        <input type="text" name="phoneno" value="{{row[2]}}" id="phoneno">
                    </div>

                    <div class="location">
                        <label for="email">Email: </label>
                        <br>
                        <input type="email" name="email" value="{{row[3]}}" id="email">
                    </div>

                    <div class="name">
                        <label for="passw">Password: </label>
                        <br>
                        <input type="text" name="password" value="{{row[4]}}" id="passw">
                    </div>

                    <div class="location">
                        <label for="services-offered">Services Offered:</label>
                        <br>
                        <textarea name="services" id="services-offered"  cols="30" rows="4">{{row[5]}}</textarea>
                    </div>

                    <div class="name">
                        <label for="ambulance">Ambulance available: </label>
                        <select name="ambulance" id="ambulance">
                            <option value="{{row[6]}}">{{row[6]}}</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>

                    <div class="name ambulance-pic">
                        <h5>Your ambulance photo: </h5>
                        <img src="data:;base64,{{row[8].decode('utf-8')}}" id="blah2" value="data:;base64,{{row[8].decode('utf-8')}}" id="profile-change" alt="profile-picture">
                        <input type="file" name="ambulancePhoto" id="ambulance-change" onchange="readURL2(this);">
                        <label for="ambulance-change">Click here to change your ambulance picture</label>
                    </div>

                    <div class="update name">
                        <button>Update</button>
                    </div>

                    <form action="/dashboard-delete" method="POST" enctype="multipart/form-data">
                        <input type="text" name="name" value="{{row[0]}}" id="name" class="sr-only">

                        <div class="update location">
                            <button>Delete Account</button>
                        </div>
                    </form>
                </div>


                
            </form>
        {% endfor %}
    </main>
</body>
</html>