<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="..//static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="../static/js/app.js" defer></script>
</head>
<body>
    <header>{% include 'header.html'%}</header>
    <main style="margin-top: 10em;">
        <form action="">
            <input type="number" name="ratings" value="3" id="ratings-number" style="display: none"> e
            <div class="grid-dashboard">
                <div class="stars flex">
                    <h4>Your ratings: </h4>
                    <img src="../static/assets/icons/star.png" class="star" alt="">
                    <img src="../static/assets/icons/star.png" class="star" alt="">
                    <img src="../static/assets/icons/star.png" class="star" alt="">
                    <img src="../static/assets/icons/star.png" class="star" alt="">
                    <img src="../static/assets/icons/star.png" class="star" alt="">
                </div>
                <div class="flex profile-pic">
                    <img src="" id="blah" alt="profile-picture">
                    <input type="file" name="photo" id="profile-change" onchange="readURL(this);">
                    <label for="profile-change">Change your profile picture</label>
                </div>

                <div class="name">
                    <label for="name">Name: </label>
                    <br>
                    <input type="text" id="name">
                </div>

                <div class="location">
                    <label for="location">Location: </label>
                    <br>
                    <input type="text" id="location">
                </div>

                <div class="name">
                    <label for="phoneno">Phonenumber: </label>
                    <br>
                    <input type="text" id="phoneno">
                </div>

                <div class="location">
                    <label for="email">Email: </label>
                    <br>
                    <input type="email" id="email">
                </div>

                <div class="name">
                    <label for="passw">Password: </label>
                    <br>
                    <input type="password" id="passw">
                </div>

                <div class="location">
                    <label for="services-offered">Services Offered:</label>
                    <br>
                    <input type="textfield" id="services-offered">
                </div>

                <div class="name">
                    <label for="ambulance">Ambulance available: </label>
                    <select name="" id="ambulance">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>

                <div class="name ambulance-pic">
                    <h5>Your ambulance photo: </h5>
                    <img src="" id="blah2" alt="profile-picture">
                    <input type="file" name="ambulance" id="ambulance-change" onchange="readURL2(this);">
                    <label for="ambulance-change">Click here to change your ambulance picture</label>
                </div>

                <div class="update name">
                    <button>Update</button>
                </div>

                <div class="update location">
                    <button>Delete Account</button>
                </div>
            </div>


            
        </form>
    </main>
</body>
</html>