<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All available hospitals</title>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
    <script src="../static/js/rate.js"></script>
</head>
<body>
    <header>{% include 'header.html'%}</header>
    <main>
        <div class="container">
            <p class="results">{{msg}}</p>
            <div class="row">
                {% for row in rows %}
                <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <form action="/remove-appoinment", method="POST" enctype="multipart/form-data">
                                    <p class="card-infor"><b>Name: </b>{{row[0]}}</p> <!--fetching the names-->
                                    <input type="text" name="name" value="{{row[0]}}" style="display: none">
                                    <p class="card-infor"><b>Email: </b>{{row[1]}}</p> 
                                    <p class="card-infor"><b>Date: </b> {{row[2]}}</p>
                                    <p class="card-infor"><b>Time: </b> {{row[3]}}</p>

                                    {% if session.username %}
                                        <button class="card-btn" type="submit">Remove</button>
                                    {% endif %}
                                    
                                </form>
                                
                            </div>
                        </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </main>

</body>
</html>